@use "../../../styles/base/variables" as *;
@use "../../../styles/base/mixins" as *;

$goldSilverPadding: 13px 22px;
$cardWidth: 504px;
@mixin card() {
  margin: 0 auto;
  text-align: right;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    270deg,
    rgba(26, 1, 0, 1) 0%,
    rgba(156, 14, 7, 1)
  );
  p {
    margin-right: 1rem;
    color: $color-primary;
  }
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__body {
    p {
      text-align: left;
    }
    h1 {
      span {
        font-size: 2rem;
      }
    }
    .image-container {
      margin-top: 3rem;
      display: flex;
      justify-content: center;
      img {
      }
    }
  }
  .inactive-box {
    align-items: center;
    display: flex;
    justify-content: center;
    p {
      margin: 0;
    }
    @include rounded-box(
      24px,
      50%,
      linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.15))
    );
  }
  &__footer {
    display: flex;
    flex-direction: row;
    gap: 1.1rem;
    width: 100%;
    .rounded-box {
      align-items: center;
      display: flex;
      justify-content: center;
      p {
        margin: 0;
      }
      @include rounded-box(
        36px,
        50%,
        linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.7),
          rgba(255, 255, 255, 0.15)
        )
      );
    }
  }
  .polygon {
    @include polygon(
      110px,
      110deg,
      24px,
      linear-gradient(
        to right,
        rgba(224, 5, 5, 0.7) 10%,
        rgba(255, 255, 255, 0.01) 50%
      )
    );
    right: 0.3rem;
    bottom: 7rem;
  }
  .polygon-down {
    @include polygon(
      110px,
      110deg,
      24px,
      linear-gradient(
        to right,
        rgba(224, 5, 5, 0.7) 10%,
        rgba(255, 255, 255, 0.01) 65%
      )
    );
    bottom: 4.7rem;
    right: -0.55rem;
    box-shadow: inset 36px 1px 61px -14px rgba(255, 255, 255, 0.15);
  }
  .polygon-down-1 {
    @include polygon(
      110px,
      110deg,
      24px,
      linear-gradient(
        to right,
        rgba(224, 5, 5, 0.7) 10%,
        rgba(255, 255, 255, 0.01) 65%
      )
    );
    bottom: 1.7rem;
    right: -1.7rem;
  }

  @media screen and (max-width: 375px) {
    margin: 0.7rem;
    padding: 1rem;
  }
}

.card {
  @include card;
  max-width: $cardWidth;
}
// GOLD CARD
.gold {
  @include card;
  background: radial-gradient(rgba(241, 211, 151, 0.6), rgba(47, 35, 19, 0.6));
  padding: $goldSilverPadding;
  max-width: $cardWidth;
  .card__footer {
    justify-content: space-between;
    display: flex;
  }
  h1 {
    font-size: 3rem;
    color: $color-primary;
    text-shadow: 0px 0px 0 rgb(201, 171, 111), 1px 1px 0 rgb(161, 131, 71),
      2px 2px 0 rgb(121, 91, 31), 3px 3px 2px rgba(0, 0, 0, 0.65),
      3px 3px 1px rgba(0, 0, 0, 0.5), 0px 0px 2px rgba(0, 0, 0, 0.2);
    width: fit-content;
    font-style: italic;
    margin: 0;
  }
  .card__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border: 2px solid black;
    border-radius: 25px;
    height: fit-content;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.75);
    p {
      margin: 0;
      padding: 0;
    }
    .user__wrapper {
      display: flex;
      align-items: center;
      border-radius: 50%;
      width: 20px;
      border: 1px solid black;
      height: 20px;
      justify-content: center;
      background-color: #ffdd9a;
    }
  }
  .rounded-box {
    background: linear-gradient(
      rgba(255, 221, 154, 1),
      rgba(141, 95, 4, 0),
      rgba(0, 0, 0, 1)
    );
    @include rounded-box(
      24px,
      50%,
      linear-gradient(
        rgba(255, 221, 154, 1),
        rgba(83, 55, 0, 1),
        rgba(83, 55, 0, 1),
        rgba(83, 55, 0, 1),
        rgba(255, 221, 154, 1)
      )
    );
  }
}

// SILVER CARD
.silver {
  @include card;
  padding: $goldSilverPadding;
  max-width: $cardWidth;
  background: radial-gradient(rgba(120, 134, 168, 0.8), rgba(38, 41, 51, 0.8));
  .card__footer {
    justify-content: space-between;
    display: flex;
  }
  .rounded-box {
    background: linear-gradient(
      rgba(255, 221, 154, 1),
      rgba(141, 95, 4, 0),
      rgba(0, 0, 0, 1)
    );
    @include rounded-box(
      24px,
      50%,
      linear-gradient(
        rgba(255, 255, 255, 1),
        rgba(0, 0, 0, 1),
        rgba(255, 255, 255, 1),
        rgba(86, 86, 86, 1),
        rgba(217, 217, 217, 1)
      )
    );
  }
  h1 {
    font-size: 3rem;
    color: $color-primary;
    width: fit-content;
    font-style: italic;
    margin: 0;
    text-shadow: 0px 0px 0 rgb(198, 198, 198), 0px 1px 0 rgb(171, 171, 171),
      0px 2px 0 rgb(144, 144, 144), 0px 3px 0 rgb(117, 117, 117),
      0px 4px 0 rgb(90, 90, 90), 0px 5px 4px rgba(0, 0, 0, 1),
      0px 5px 1px rgba(0, 0, 0, 0.5), 0px 0px 4px rgba(0, 0, 0, 0.2);
  }
  .dark {
    opacity: 0.4;
  }
}
